<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL CAPTURE App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <!-- CSS Script to style display section-->
    <style>
      .data_capture{
        background: #ffbb00;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <center>
      <h3>URL CAPTURE APP</h3>
      </center>
    </div>

    <!-- Form -->
    <div class="container">
      <!-- form to hold and submit user input with a post method -->
      <form action="/capture" method="POST">
        <label for="weburl">Enter any HTTPS URL</label>

        <!-- Input type set to text with a unique name set to weburl-->
        <input
          type="text"
          placeholder="eg : bbc.com"
          class="u-full-width"
          name="weburl"
        />

         <center>
           <!-- button to capture data when triggered and prompt user on data been saved as txt file -->
        <input onclick="alert('Copy of the captured data saved as .txt file')" type="submit" value="Capture Web Data" id="calc_btn" />
           </center>

        <br />
       <!-- div to display captured information in text -->
        <div class="data_capture">
          {{display}}
        </div>
      </form>

    </div>

  </body>
</html>
